# Object files
*.o
*.cbp
*.save
*.depend
*.layout

# Libraries
*.lib
*.a
bin\
obj\

# Debugger files
*.gch

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
